<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>

		<!-- MySQL Admin DB -->
		<add key="MySqlAdminConnection"
			 value="Server=localhost;Database=prism_uploader;Uid=root;Pwd=;Port=3307;" />

		<!-- Oracle Prism DB -->
		<add key="OracleConnection" value="User Id=reportuser;Password=report;Data Source=localhost:1521/rproods;" />  <!-- 12C lower -->
		<!-- <add key="OracleConnection" value="User Id=reportuser;Password=report;Data Source=localhost:1521/rproods.prism;" /> --> <!-- 19C higher -->

	</appSettings>

</configuration>