<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>

		<!-- Oracle Prism DB -->
		<!-- <add key="OracleConnection" value="User Id=reportuser;Password=report;Data Source=localhost:1521/rproods;" /> -->  <!-- 12C lower -->
		<add key="OracleConnection" value="User Id=reportuser;Password=report;Data Source=localhost:1521/rproods.prism;" /> git <!-- 19C higher -->

	</appSettings>

</configuration>